@model IEnumerable<ProjectCSA.Models.StudentModel>

@{
    ViewBag.Title = "Home Page";
}

<div class=wrap>


    <div class="header">

        <div class="headers">
            <a class="headerbuttons" href="#">CLASSES</a>
            <a class="headerbuttons" href="#">SCHEDULES</a>
        </div>
    </div>
    <div class="leftcolumn">

        <div class="vertical-menu">

            <div class="topnav">

                <input type="text" placeholder="search...">
            </div>
            <a class="active">Classes</a>
            <a href="#">INF1C</a>
            <a href="#">INF2C</a>
            <a href="#">INF3D</a>
            <a href="#">INF1I</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>
            <a href="#">*Class*</a>

        </div>

    </div>

    <div class="maincontent">
        <div class="table">
            <table style="width:100%">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Fname)</th>
                    <th>Date</th>
                    <th>Date</th>
                    <th>Date</th>
                    <th>Date</th>
                    <th>Date</th>
                    <th>Date</th>
                    <th>Date</th>
                    <th>Date</th>
                    <th>Date</th>
                    <th>Date</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fname)
                        </td>

                        <td>
                            <div class="checkbox">
                                @Html.CheckBox("checkbox-1")
                            </div>
                        </td>
                        <td>
                            <div class="checkbox">
                                @Html.CheckBox("checkbox-1")
                            </div>
                        </td>
                        <td>
                            <div class="checkbox">
                                @Html.CheckBox("checkbox-1")
                            </div>
                        </td>
                        <td>
                            <div class="checkbox">
                                @Html.CheckBox("checkbox-1")
                            </div>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>