@model ProjectCSA.Models.TeacherModel

@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sign up as a teacher</h4>
        <hr />
        @Html.ValidationSummary(true, "")
    <div class="form-group">
        @Html.LabelFor(model => model.Tcode)
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tcode)
        </div>
        <div class="validation">
            @Html.ValidationMessageFor(model => model.Tcode, "")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fname)
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fname)
            @Html.ValidationMessageFor(model => model.Fname, "")
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lname)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lname)
                @Html.ValidationMessageFor(model => model.Lname, "")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password, "")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.confirmPassword)
            <div class="col-md-10">
                @Html.EditorFor(model => model.confirmPassword)
                @Html.ValidationMessageFor(model => model.confirmPassword, "")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to home page", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
