@model IEnumerable<ProjectCSA.Models.ScheduleModel>
@{
    ViewBag.Title = "Home Page";
}

<div class=wrap>


    <div class="header">

        <div class="headers">
            <a class="headerbuttons" href="~/Application/ViewTeachers/">TEACHERS</a>
            <a class="headerbuttons" href="~/Application/ViewSchedules/">SCHEDULES</a>
            <a class="headerbuttons" href="~/Application/SignUp/">TEACHER SIGNUP</a>
            <a class="headerbuttons" href="#">STATISTICS</a>
            <a class="headerbuttons" @Html.ActionLink("Log out", "LogOut", "Application")</a>
            <a class="headerbuttons">Current user: @Html.Action("foenc", "Application")</a>
        </div>
    </div>

    <div class="maincontent">
        <table class="table2">
            <tr>
                <th></th>
                @{ string[] days = { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" };}

                @for (int i = 0; i < days.Length; i++)
                {
                    <th>@(days[i])</th>
                }
            </tr>
            @{
                TimeSpan timeSpan = new TimeSpan(8, 30, 0); //08:30:00
                TimeSpan AddTime = new TimeSpan(0, 50, 0);  //00:50:00
                TimeSpan timeSpan2 = new TimeSpan();
            }
            
            @{ for (int i = 1; i < 16; i++)
                {
                    

                        <tr>
                            <td>
                                <h3>@(i)</h3>
                                <a>
                                    @{timeSpan.ToString();}

                                    @(string.Format("{0:00}:{1:00}", timeSpan.Hours, timeSpan.Minutes))
                                </a>
                                @{timeSpan2 = timeSpan.Add(AddTime);}
                                <div>
                                    <a>
                                        @(string.Format("{0:00}:{1:00}", timeSpan2.Hours, timeSpan2.Minutes))
                                        @{timeSpan = timeSpan2;}
                                    </a>
                                </div>
                            </td>

                            @for (int x = 0; x < 7; x++)
                            {
                                <td>
                                    @foreach(var item in Model)
                                    {
                                        if (item.Hours.Contains(i))
                                        {
                                            if(item.Day == days[x]){
                                                @(item.Class)
                                                @(item.Classroom)
                                            }
                                            else
                                            {
                                                @("")
                                            }
                                        }
                                    }
                                </td>
                            }

                        </tr>
                    }
            }
        </table>
    </div>
</div>

