@model ProjectCSA.Models.TeacherModel

@{
    ViewBag.Title = "SignUp";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                @Html.ValidationSummary(true, "")
                <form class="login100-form validate-form">
                    <span class="login100-form-title">
                        Create your account
                    </span>
                    <span class="validation">
                        <strong>@TempData["Message"]</strong>

                        @Html.ValidationMessageFor(model => model.Tcode, "")
                    </span>
                    <div class="wrap-input100 validate-input">
                        @Html.TextBoxFor(model => model.Tcode, new { placeholder = "Teacher code", Class = "input100" })
                        <span class="focus-input100"></span>
                    </div>
                    <span class="validation">
                        @Html.ValidationMessageFor(model => model.Fname, "")
                    </span>
                    <div class="wrap-input100 validate-input">
                        @Html.TextBoxFor(model => model.Fname, new { placeholder = "First name", Class = "input100" })
                        <span class="focus-input100"></span>
                    </div>
                    <span class="validation">
                        @Html.ValidationMessageFor(model => model.Lname, "")
                        </span>
                        <div class="wrap-input100 validate-input">
                            @Html.TextBoxFor(model => model.Lname, new { placeholder = "Last name", Class = "input100" })
                            <span class="focus-input100"></span>
                        </div>
                        <span class="validation">
                            @Html.ValidationMessageFor(model => model.Password, "")
                        </span>
                        <div class="wrap-input100 validate-input">
                            @Html.TextBoxFor(model => model.Password, new { placeholder = "Password", Class = "input100" , @type = "password"})
                            <span class="focus-input100"></span>
                        </div>
                        <span class="validation">
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "")
                        </span>
                        <div class="wrap-input100 validate-input">
                            @Html.TextBoxFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password", Class = "input100" , @type = "password"})
                            <span class="focus-input100"></span>
                        </div>
                        <div class="container-login100-form-btn">
                            <input type="submit" value="Create" class="login100-form-btn" />
                        </div>
                        <a class="txt2" href="~/Application/SignUp/">
                            Create your Account
                        </a>
                </form>
            </div>
        </div>



    </div>
}