@model IEnumerable<ProjectCSA.Models.TeacherModel>

@{
    ViewBag.Title = "ViewTeachers";
}

    <div class="header">

        <div class="headers">
                @Html.ActionLink("Logout", "LogOut", "Application", null, new { @class = "headerbuttons" })
        </div>
    </div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fname)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Lname)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>

        </tr>
    }

</table>
