@model ProjectCSA.Models.StudentsClassesLessonCode

@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="../../Content/StudentImage.css">


<div class=wrap>
    <div class="header">
        <div class="headers">
            <a class="headerbuttons" href="javascript:void(0);" onclick="history.go(-1);">Back to schedule</a>
            @if (TempData["Temporary"] == null)
            {
                @Html.ActionLink("Generate QR code", "QR_Button_Click", "Application", new { LessonCode = Model.ClassCode }, new { @class = "headerbuttons", })
            }
            @Html.ActionLink("Logout", "LogOut", "Application", null, new { @class = "headerbuttons" })
        </div>
    </div>

    <div class="maincontent">
        @if (TempData["Temporary"] != null)
        {
            <div class="red">@TempData["Temporary"]</div> @*error message if there is no class/students.*@
        }

        @if (TempData["Temporary"] == null)
        {
            <table>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Students.FirstOrDefault().userFirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.Students.FirstOrDefault().userStudentNum)</th>
                    <th>Present</th>
                </tr>
                @foreach (var item in Model.Students)
                {

                    <tr>
                        <td onmouseover="loadImage(@item.userStudentNum)">
                            <a  onclick="myFunction()">
                                @Html.DisplayFor(modelItem => item.userFirstName)
                                <img style="border-radius:10px; border: 3px solid #000;"/>

                            </a>
                        </td>
                        <td>
                            <a>
                                @Html.DisplayFor(modelItem => item.userStudentNum)
                            </a>
                        </td>
                        <td>
                            <input type="checkbox" id=@(item.userStudentNum)>
                            <label for=@(item.userStudentNum)></label>
                        </td>
                    </tr>

                }
            </table>
        }

    </div>
</div>

<script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
<script>
    function myFunction() {
  alert("Hover over a student to see their picture.");
}
    var config =
    {
        apiKey: "AIzaSyAji2r1Ky37CjNzZsZlujBowTDY0ubSqx8",
        authDomain: "studentpre-a7d96.firebaseapp.com",
        databaseURL: "https://studentpre-a7d96.firebaseio.com",
        storageBucket: "studentpre-a7d96.appspot.com",
    };
    firebase.initializeApp(config);
    var storage = firebase.storage();
    var storageRef = storage.ref();

    function loadImage(studNum) {
        //window.alert(studNum);
        studNum = String(studNum);
        if (studNum.length < 7) {
            studNum = '0' + studNum;
        }
        var location = 'item-pics/' + studNum + '.jpg';
        //window.alert(location);
        var tangRef = storageRef.child(location);
        tangRef.getDownloadURL().then(function (url) {

            var test = url;
            document.querySelector('img').src = test;
        }).catch(function (error) {
            switch (error.code) {
                case 'storage/object_not_found':
                    break;
                case 'storage/unauthorized':
                    break;
                case 'storage/canceled':
                    break;
                case 'storage/unknown':
                    break;
            }
        });


    }

</script>